body{
background-color: #fddc8b;
}
.he{
    color: crimson;

}
.he2{
    color: crimson;
}
.he3{
    color: crimson;
}
.etable2{
    background-color: rgb(203, 232, 240);
 color: rgb(0, 0, 0);border-inline-start: red
}
.he4{
    color: crimson;
}
.he5{
    color: crimson;
}
.he6{
    color: crimson;
}
.h7{
    color: crimson;
}
.he8{
    color: crimson;
}
.he9{
    color: crimson;
}